<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav" aria-label="Primary">
        <button type="button" aria-label="Toggle navigation">
          <span class="navicon"></span>
        </button>
        <ul class="visible-links">
          <li class="masthead__menu-item">
            <a href="index.html">Home</a>
          </li>
          <li class="masthead__menu-item">
            <a href="publications.html">Publications</a>
          </li>
          <li class="masthead__menu-item">
            <a href="teaching.html">Teaching</a>
          </li>
          <li class="masthead__menu-item">
            <a href="about.html">About</a>
          </li>
          <li id="theme-toggle" class="masthead__menu-item persist tail">
            <a role="button" aria-labelledby="theme-icon">
              <i id="theme-icon" class="fa-solid fa-sun" aria-hidden="true" title="toggle theme"></i>
            </a>
          </li>
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
