<div id="academic-wrapper">
  <div id="main">
    <aside class="sidebar sticky" itemscope itemtype="http://schema.org/Person">
      <div class="author__avatar">
        <img src="images/profile.jpg" alt="Patrick Schäfer" loading="lazy" />
      </div>
      <div class="author__content">
        <h3 class="author__name">Patrick Schäfer</h3>
        <p class="author__bio">
            Dr. rer. nat., Dipl. Inform.<br/>
            Senior researcher focused on time series<br/>
            analytics, vector data, similarity search,<br/>
            and reproducible benchmarking.
        </p>
      </div>
      <div class="author__urls-wrapper">
        <button class="btn btn--inverse" type="button" onclick="window.location.href='mailto:patrick.schaefer@hu-berlin.de'">Get in touch</button>
        <ul class="author__urls social-icons">
          <li class="author__desktop"><i class="fas fa-fw fa-location-dot icon-pad-right" aria-hidden="true"></i>Berlin, Germany</li>
          <li class="author__desktop"><i class="fas fa-fw fa-building-columns icon-pad-right" aria-hidden="true"></i>Humboldt-Universität</li>
          <li><a href="mailto:patrick.schaefer@hu-berlin.de"><i class="fas fa-fw fa-envelope icon-pad-right" aria-hidden="true"></i>Email</a></li>
          <li><a href="https://github.com/patrickzib"><i class="fab fa-fw fa-github icon-pad-right" aria-hidden="true"></i>GitHub</a></li>
          <li><a href="https://www.linkedin.com/in/patrickzib/"><i class="fab fa-fw fa-linkedin icon-pad-right" aria-hidden="true"></i>LinkedIn</a></li>
          <li><a href="https://scholar.google.de/citations?user=j0QxZSYAAAAJ&hl=de"><i class="ai ai-google-scholar ai-fw icon-pad-right"></i>Google Scholar</a></li>
          <li><a href="https://dblp.org/pid/89/11002-1.html"><i class="fas fa-fw fa-book icon-pad-right" aria-hidden="true"></i>DBLP</a></li>
          <li><a href="https://orcid.org/0000-0003-2244-6065"><i class="ai ai-orcid ai-fw icon-pad-right"></i>ORCID</a></li>
        </ul>
      </div>
    </aside>
    <div class="academic-content">

